.filterCheckBox {
  padding: 0.5rem 0.5rem;
  border: 1px solid #d8d9db;
  border-radius: 2px;
  cursor: pointer;
  align-items: center;
  margin: 0.5rem;
  font-weight: 500;
  line-height: 1.43;
  font-size: 14px;
  color: #6f737b;
  text-transform: capitalize;
}
span:focus {
  outline: none;
}
.filterCheckBox:hover,
.filterCheckBox:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px #da3743;
  color: #da3743;
}
.filterBoxIcon {
  position: relative;
  top: 3px;
  margin-right: 0.25rem;
  width: 18px;
  height: 18px;
}
