#paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
  height: 2rem;
}
.paginationArrow {
  border-radius: 100%;
  border: solid 1px #d8d9db;
  cursor: default;
  display: inline-flex;
  justify-content: space-around;
  margin-left: calc(0.5rem - 1px);
  margin-right: calc(0.5rem - 1px);
  min-width: 2rem;
  cursor: pointer;
  align-items: center;
  height: 2rem;
  padding-bottom: 2px;
}
.paginationBubble {
  border-radius: 100%;
  border: solid 1px #d8d9db;
  display: inline-flex;
  justify-content: space-around;
  margin-left: calc(0.5rem - 1px);
  margin-right: calc(0.5rem - 1px);
  min-width: 2rem;
  cursor: pointer;
  align-items: center;
  height: 2rem;
}
.paginationBubble:hover,
.paginationArrow:hover,
#selectedBubble {
  border: solid 2px #da3743;
  position: relative;
  margin-left: calc(0.5rem - 2px);
  margin-right: calc(0.5rem - 2px);
}
.ellipsisBubble {
  display: inline-flex;
  justify-content: space-around;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  min-width: 2rem;
  cursor: pointer;
  align-items: center;
  height: 2rem;
}
