.toolbarNumber {
  margin-right: 0.5rem;
  width: 16px;
  text-align: center;
}
.toolbarAndNumber {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.toolbarAndNumber:hover {
  text-decoration: underline;
}
.toolbar-light-background {
  color: #000;
  border: 1px solid #d8d9db;
  display: inline-block;
  width: 232px;
  height: 13px;
}
.toolbar-light-background:hover {
  border: 2px solid #da3743;
}
.toolbar-red {
  color: #fff;
  background-color: #da3743;
  height: 13px;
}
