#summaryContainer {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: flex-start; */
}
.summaryStarRating {
  font-size: 0.875rem;
  line-height: 20.02px;
  font-weight: 600;
  display: inline-block;
  margin: 5px 5px 5px 0;
  text-align: center;
  color: #2d333f;
}
#summaryStarText {
  position: relative;
  bottom: 3px;
}
.summaryStarIcon {
  width: 20px;
  height: 20px;
}
.summaryRatingContainer {
  margin-top: 10px;
}
.summaryRating {
  display: inline-block;
  flex-direction: column;
  list-style: none;
  padding: 0 0.5rem;
  position: relative;
  text-align: center;
  border-left: solid 1px #d8d9db;
  color: black;
}
.summaryCategory {
  font-family: "BrandonText-Regular";
  font-size: 0.875rem;
  white-space: nowrap;
  color: black;
}
#boldText {
  font-weight: 900;
}
#summaryFirstRating {
  border-left: none;
}
#summaryToolbarContainer {
  bottom: 62px;
}
#toolbar {
  margin-left: -35px;
  margin-top: 30px;
}
#leftSummaryContainer {
  display: inline-block;
  margin: auto;
  margin-bottom: 50px;
}
#reviewConditional {
  font-family: "BrandonText-Light";
  width: 363px;
  padding-top: 0.5rem;
  font-size: 0.95rem;
  font-weight: 900;
}
.inlineBlock {
  display: inline-block;
}
.summaryHeader {
  font-family: "BrandonText-Bold";
  font-size: 1.5rem;
  line-height: 31.92px;
  color: #2d333f;
  border-bottom: 1px solid rgb(216, 217, 219);
  padding-bottom: 1rem;
  margin: 0 0 1rem;
  display: flex;
  justify-content: space-between;
}
.summarySubHeader {
  font-size: 0.95rem;
  line-height: 24px;
  font-weight: 900;
  display: flex;
}
#reviewSummaryContainer {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px #d8d9db;
}
.summaryIcon {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
#summaryBarIcon,
#thumbsUpIcon {
  position: relative;
  top: 5px;
}
#summaryNoiseText {
  position: relative;
  margin: 0 0 0 0.25rem;
  font-weight: 500;
  line-height: 20.02px;
  font-size: 0.875rem;
  color: #6f737b;
}
#percentageRecommended {
  font-family: "BrandonText-Bold";
  font-weight: 900;
}
#recommendedText {
  margin-top: -5px;
  font-size: 0.875rem;
  color: #6f737b;
}
.summarySpacingContainer {
  font-family: "BrandonText-Light";
  line-height: 20.02px;
  padding-top: 0.95rem;
  margin-top: -5px;
  font-weight: 700;
}
#recommendedText:hover,
#summaryNoiseText:hover,
#percentageRecommended:hover {
  color: #da3743;
}
#BestRestaurantsLink {
  margin-top: -5px;
  font-family: "BrandonText-Light";
  font-weight: 600;
  color: #da3743;
  text-decoration: none;
  padding: 3px;
}
#BestRestaurantsLink:hover {
  text-decoration: underline;
}
