.rightHalf {
  display: inline-block;
}
#reviewLeftHalf {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 6rem;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  font-size: 14px;
  line-height: 17.16px;
  font-weight: 600;
}
#reviewRightHalf {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#reviewRatingsContainer {
  font-family: "BrandonText-Medium";
  line-height: 17.02px;
  font-size: 14px;
}
#reviewStarsDateRating {
  flex-direction: column;
  display: flex;
  position: relative;
}
#reviewCircleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
#reviewStarsDate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
}
#reviewStarsContainer {
  margin: 0 0.5rem 0 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.reviewStar {
  display: inline-block;
  width: 18px;
  height: 20px;
  margin-right: 0.1rem;
  font-size: 0.875rem;
  font-weight: 500;
}
.reviewRatingDate {
  font-size: 14px;
  font-weight: 600;
}
#reviewRatingsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
.reviewRatingCategory {
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0.5rem 0 0;
}
.reviewRatingNumber {
  color: #da3743;
  font-weight: 500;
}
#reviewText {
  font-family: "BrandonText-Light";
  line-height: 23px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.75px;
}
.twoHalvesContainer {
  display: flex;
}
.authorCircle {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-size: contain;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='48' height='48' viewBox='0 0…c-5.623 0-10.182 4.559-10.182 10.182z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E) no-repeat 50%");
  display: flex;
  align-items: center;
  justify-content: center;
}

#usernameContainer {
  text-align: center;
  margin-bottom: 6px;
}
#reviewUsername {
  font-size: 14px;
  color: #2d333f;
}
#userCity {
  font-size: 14px;
  text-align: center;
  line-height: 1.43;
  color: #6f737b;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
#userReviewsContainer {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem 0 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 17.16px;
  flex: none;
  white-space: nowrap;
  color: #6f737b;
}
.commentIcon {
  position: relative;
  height: 16px;
  width: 16px;
  flex: none;
  margin-right: 4px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Euniversal / icon / details / small / ic_ticket copy%3C/title%3E%3Cpath d='M4.5 3.5A1.5 1.5 0 0 0 3 5v4.099a1.5 1.5 0 0 0 1.5 1.5h3.073L9.8 12.091a.5.5 0 0 0 .779-.409l.013-1.083h.908a1.5 1.5 0 0 0 1.5-1.5V5a1.5 1.5 0 0 0-1.5-1.5h-7z' stroke='%236F737B' fill='none'/%3E%3C/svg%3E");
}
#reviewCountText {
  font-family: "BrandonText-Medium";
  font-weight: 200;
  font-size: 12px;
}
#reviewInitials {
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
}
.imgCircle {
  width: 45px;
  height: 45px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline;
  background-color: #da3743;
}

.helpHovered {
  background-color: #da3743;
  margin: 0 0 0 0;
}
#reviewContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #d8d9db;
  color: #2d333f;
}
#readMore {
  color: #da3743;
  text-decoration: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 16px;
  font-family: "BrandonText-Light";
  font-weight: 600;
}
#readMore:hover {
  text-decoration: underline;
}
#flagIcon {
  height: 14px;
  display: inline-block;
  width: 14px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.star {
  width: 16px;
  height: 16px;
}
#upvoteIcon {
  height: 14px;
  width: 14px;
  display: flex;
}
#reportHelpful {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#subReportHelpful {
  display: flex;
  position: relative;
  align-self: flex-start;
  cursor: pointer;
  color: #6f737b;
  font-size: 12px;
  font-weight: 500;
  line-height: 20.02px;
}
.reportText:hover {
  color: #da3743;
}
.reportText {
  margin: 0 0 0 0.25rem;
  line-height: 1.43;
  font-size: 0.875rem;
}
.helpfulText {
  margin: 0 0 0 0.25rem;
  line-height: 1.43;
  font-size: 0.875rem;
}
.helpfulText:hover {
  color: #da3743;
}
.flexCenter {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.flex {
  display: flex;
}
